# App configuration
APP_PORT=8080
NODE_ENV=dev
CORS_ORIGIN=http://localhost:5173,http://localhost:3000

# Auth and Security
JWT_SECRET_ACCESS_TOKEN=your_access_token_secret_here
JWT_SECRET_REFRESH_TOKEN=your_refresh_token_secret_here
HASH_SECRET=your_hash_secret_here
API_KEY=your_api_key_here

# Rate limiting and Account Lockout
MAX_FAILED_ATTEMPTS=5
LOCKOUT_DURATION_MINUTES=30
SLIDING_WINDOW_MINUTES=15
RATE_LIMIT_WINDOW_MINUTES=15
RATE_LIMIT_MAX_REQUESTS=5
TOKEN_REFRESH_LIMIT=10

# Database (PostgreSQL Host)
# Ganti host.docker.internal dengan IP host jika tidak menggunakan Docker Desktop
DATABASE_URL=postgresql://user:password@host.docker.internal:5432/database_name?schema=public
DB_PORT=5432
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_database_password
POSTGRES_DB=your_database_name
